{% extends "base.html" %}
<body>
{% block content %}
<h1>{{ projects.title }}</h1>
{% if projects.image %}
<img class="img_project"
     src='../static/img/new_img.png'>
{% endif %}
<div>
    <a href="/like_projects/{{ projects.id }}" class="btn btn-success">
        Нравится {{ projects.like }}
    </a>

    <a href="/dislike_projects/{{ projects.id }}" class="btn btn-danger">
        Не нравится {{ projects.dislike }}
    </a>
</div><br>
<p>{{ projects.content }}</p>
{% if current_user.is_authenticated and current_user == projects.user %}
    <div>
        <a href="/projects/{{ projects.id }}" class="btn btn-secondary">
            Изменить
        </a>
        <a href="/projects_delete/{{ projects.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
{% endblock %}
</body>